body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-align-center {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.eorganiser-container {
  padding: 20px;
  
}

.esnap-container-size {
  width: 200px;
  height: 100%;
  margin: 16px;
  cursor: pointer;
  
}

.esnap-create-event {
  width: 200px;
  height: 100%;
  margin: auto;
  cursor: pointer;
}

.esnap-icon {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px
}

.profile-container {
  height: 100vh;

}
.sidebar{
  background: linear-gradient(rgb(41, 41, 187, 0.7),rgba(7, 1, 41, 0.8));
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.container {
  margin: 0;
  padding: 160px;
  background-image: url("adventure-balloon-clouds-68806\ \(1\).jpg");
  background-size: cover;
  display: grid;
}

.dashContainer {
  background-image: url("./components/images/cloudiness-clouds-cloudy-417045.jpg");
  background-size: cover;
}

.sideInfo {
  height: 75vh;
  padding: 5px;
  text-align: center;
}

.sideinfofirst {
  color: white;
  padding-right: 60px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
}

.sideinfomiddle {
  color: white;
  padding-right: 60px;
  padding-bottom:5px;
  display: flex;
  align-items: center;
}

.sideinfolast {
  color: white;
  padding-right: 60px;
  display: flex;
  align-items: center;
}

.uisegmentform {
  background-color: rgba(181, 207, 255, 0.705);
  padding: 20px;
  border-radius: 12px;
}

.icon{
  width: 50px;
  padding-right: 20px;
}



@media only screen and (max-width: 767px) {
  .container {
    margin: 25px;
  }
  .profile-container {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
  }
}



/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */