body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.text-align-center {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.eorganiser-container {
  padding: 20px;
}

.esnap-container-size {
  width: 200px;
  height: 100%;
  margin: 10px;
  cursor: pointer;
}

.esnap-icon {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px
}

.profile-container {
  height: 800px;
}

.container {
  margin: 50px;
  border: 2px solid black;
  border-radius: 10px;
}

@media only screen and (max-width: 767px) {
  .container {
    margin: 25px;
  }
}

/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
